<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>CookBook for the BBs</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    
    
  </head>
  <body>
    
    
    <div class="banner">
      <div class="navbar">
        <h1>CookBook for the BBs</h1>
        <!--<img src="https://cdn.glitch.com/f7215625-538a-4fa5-a591-caba9ff989a8%2Fpractice_logo.jpg?v=1614455704761" class="logo">-->
        <ul>
          <youssef-nav-button href="/">Home</youssef-nav-button>
          <youssef-nav-button href="/collections">Collections</youssef-nav-button>
          <youssef-nav-button href="/profile">Profile</youssef-nav-button>          
        </ul>
      </div>
      <div class="content">
        <h1> FIND RECIPES FROM ALL AROUND THE WORLD </h1>
        <p>Joseph Hassel, Cristian Salinas and Youssef Donia</p>
        
        <div>
<!--           this button should take the user to a page like collections with a search bar at the top -->
          <youssef-button>Search Recipes</youssef-button>
<!--           this button should take the user to the new recipes page to add their recipe -->
          <youssef-button onclick="recipes/new">Add your Recipe</youssef-button>
          <!--<button type="button"><span></span>Browse Recipes</button>
          <button type="button"><span></span>Search Recipes</button>-->
        </div>
      </div>
    </div>
    
      
<!--       <recipe-card id="card" title="Mac And Cheese" description="Wet ass"></recipe-card>
 -->

    <script src="./main.js"></script>
  </body>
</html>

