<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Shef</title>
  </head>

  <body>
    <div class="banner">
      <div class="navbar">
        <h1>{{collection.name}}</h1>
        <ul>
          <youssef-nav-button href="/">Home</youssef-nav-button>
          <youssef-nav-button href="/collections">Collections</youssef-nav-button>
          <youssef-nav-button href="/recipes/new">Add Recipes</youssef-nav-button>
        </ul>
      </div>
          
      
      
    </div>
    {{collection.id}}


    <!--       <recipe-card id="card" title="Mac And Cheese" description="Wet ass" imgsrc="https://cdn.glitch.com/f7215625-538a-4fa5-a591-caba9ff989a8%2Flouis-hansel-shotsoflouis-VhqBh21uz0k-unsplash.jpg?v=1614476182288"></recipe-card> -->
    <script src="/collectionsScript.js"></script>
  </body>
</html>
