*{
  margin: 0;
  padding: 0;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.35)),url(https://cdn.glitch.com/f7215625-538a-4fa5-a591-caba9ff989a8%2Fsalt_and_bread.jpg?v=1614449404737);
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 26pt;
  overflow-x: scroll;
}

/* for the navigation bar */
.navbar{
  width: 95%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  allign-items: center;
  justify-content: space-between;
  font-size: 16pt;
}

.navbar h1{
  color: #fff;
}


.grid {
  
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  
/*   same code as for the button  */
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: #fff;
  cursor: pointer;
 }
